body{
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;
}
.app{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border-radius: 10px;
}
.app__content{
    background-color: #ccc;
    border: 1px solid #ccc;
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.input{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-top: 30px;
}
.input label{
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
}
.input input{
    font-weight: bold;
    text-align: center;
}
.btn{
    font-family: arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(68,68,68);
    text-decoration: none;
    user-select: none;
    padding: .2em 1.2em;
    outline: none;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
    transition: all .218s ease 0s;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}
.btn:hover {
    color: rgb(24,24,24);
    border: 1px solid rgb(198,198,198);
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.hide{
    display: none;
}
@media screen and (max-width: 320px){
    .app{
        width: 100%;
    }
}

